.navbar-custom {
  background-color: #f05a26;
  height: 50px;
  padding-top: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
}

.navbar {
  color: white;
  text-align: center;
}

.help {
  color: white;
  background-color: #f05a26;
}

body {
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
}

#closedTicket {
  text-align: center;
}

#queue {
  padding-top: 6px;
}

#index {
  padding: 0 10% 0 10%;
  text-align: center;
}
