<nav class="navbar">
  <div class="container-fluid navbar-custom">
    <div>
      <ul class="nav">
        <li><a href="/">Queue</a></li>
        <!-- <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li> -->
      </ul>
    </div>
  </div>
</nav>

{{outlet}}
