{{outlet}}

<div class='container'>
  <form>
    <br>
      {{textarea value=title class='form-control' id="title" rows="1" cols="50" placeholder='Please enter your name'}}
    <div class="form-group">
      <br>
      {{textarea value=description class='form-control' id="description" rows="8" cols="40" placeholder='Give a brief description of the issue you are having.'}}
    </div>
  </form>
      <br>
  <button class='btn' id='help'>Help!</button>
      <br>
</div>
