{{outlet}}
<div class="container">
  <h2>Thanks, {{model.name}}. Help is on the way</h2>
  <h2>Leave this page open while you continue working on the problem.</h2>
  <button class="btn help"{{action "delete" model}}{{action "closeTicket"}}>Nevermind, we got it</button>

</div>
