{{outlet}}
<div class="container">
  <h2>Thanks, {{model.name}}. Help is on the way</h2>
  <h2>Leave this page open while you continue working on the problem.</h2>
  {{#link-to 'index' class="btn help"}}Nevermind, we got it{{/link-to}}
</div>
